---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Layout/Footer';
import NavBar from '../components/Layout/NavBar';
import Presentation from '../components/Main/Presentation';
---

<Layout>
    <NavBar isHome={true} />
        <div class="min-h-screen">
            <Presentation/>
        </div>
        <hr class="w-full border-[#484848]"/>
	<Footer/>
</Layout>
